@charset "utf-8";

// Define defaults for each variable.

$base-font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

body {
  background-color: #ccc;
}

h2 {
  margin-bottom: $spacing-unit * 1.5;
}

.container {
  background-color: #fff;
}

.col-xh-padding {
  padding-left: $spacing-unit * 3;
  padding-right: $spacing-unit * 3;
}

.col-xv-padding {
  padding-top: $spacing-unit * 2;
  padding-bottom: $spacing-unit *2;
}

.btn-light{
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #9393FF;
  color: #9393FF;
  font-size: 12px;
}

.btn-light:hover{
  background-color: #9393FF;
  color: #fff;
}

h1.intro{
  color: #2d5476;
  font-family: Merriweather;
  font-size: 44px;
  font-weight: 700;
  line-height: 70px;
}

h2.ptitle{
  color: #2d5476;
  font-family: Merriweather;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h4.subtitle{
  color: #3a3a3a;
  font-family: "Open Sans Condensed";
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
}

h5.intro{
  color: #424f5b;
  font-family: "Open Sans Condensed";
  font-size: 20px;
  font-weight: 700;
  line-height: 40px;
  text-transform: uppercase;
}
