<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body>

    <div class="container">

    <div class="row">
      <div class="col-md-4">
          <figure class="figure">
            <img class="center-block img-responsive" src="home1.png">
          </figure>
      </div>
      <div class="col-md-8 col-xh-padding col-xv-padding">
        <h5 class="page-intro">POSTDOCTORAL RESEARCHER IN PHYSICAL CHEMISTRY</h5>
        <h1 class="name-intro">My name is Si Yue Guo</h1>
        <p class="intro-para">
          I'm investingating how matter behaves at the atomic scale using scanning probe microscopy and quantum mechanical modeling. And I'm improving science literacy and education through teaching, mentorship, and outreach.
        </p>
        <a class="btn btn-light" href="#">CONTACT ME</a>
      </div>
    </div>

  <div class="row col-xv-padding">
    <div class="col-md-12"></div>
    <h2 class="col-xh-padding ptitle">Resume</h2>
    <p class="col-xh-padding section-text">
      I was born in China and grew up in the beautiful city of Montreal, Canada. After completed a Joint Honours BSc in Math and Physics at McGill University, I went on to pursue a PhD in Physical Chemistry at the University of Toronto, under the supervision of Prof. John Polanyi.
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 col-xh-padding">
      <h4 class="list-heading">Education</h4>
      <p class="list-text left-65"><span class="year">2015</span>PhD Physical Chemistry University of Toronto</p>
      <p class="list-text left-65"><span class="year">2009</span>BSc Joint Honours in Math and Physics McGill University</p>
      <p class="list-text left-65"><span class="year">2006</span>DEC Pure and Applied Sciences Marianopolis College</p>
    </div>
    <div class="col-md-4 col-xh-padding">
      <h4 class="list-heading">Selected Awards</h4>
      <p class="list-text">Gordon Cressy Student Leadership Award </p>
      <p class="list-text">Vanier Canada Graduate Scholarship</p>
      <p class="list-text">NSERC CGS-M, FQRNT B1 and B2</p>
      <p class="list-text">Canada Millennium Scholarship Foundation Excellence Awaard</p>
      <p class="list-text">Best in Fair at the Canada Wide Science Fair</p>
      <p class="list-text">Massey College, JF</p>
    </div>
    <div class="col-md-4 col-xh-padding">
      <h4 class="list-heading">Languages</h4>
      <p class="list-text">Fluent in English and French</p>
      <p class="list-text">Intermediate in Chinese Mandarin and Shanghainese</p>
    </div>
  </div>

  <div class="row col-xh-padding">
    <a class="btn btn-light" href="#">DOWNLOAD RESUME</a>
  </div>

  <div class="row">
    <div class="col-md-8 col-xh-padding col-xv-padding">
      <h2 class="ptitle">Research</h2>
      <h4 class="subtitle">Bridging EXPT and THEORY</h4>
      <p class="section-text">
        I use scanning probe microscopy and quantum mechanical modeling to study matter at the atomic scale. (Conductance quantization, biological systems, reaction dynamics at surfaces, etc.)
      </p>
      <p class="section-text">
        I'm currently exploring how molecules interact on adn with a semiconductory surface. Although my research is fundamental in nature, it has implications for heterogeneous catalysis, molecular electronics, self-assembly at surfaces, and many fields.
      </p>
      <p>Software       VASP, Gaussian, MATLAB, ...</p>
      <p>Techniques     STM, AFM, SNOM, FIB, SEM, machhine shop</p>
      <p>Publications   Lorem ipsum</p>
    </div>
    <div class="col-md-4 col-xv-padding">
      <figure class="figure">
        <img class="center-block img-responsive" src="Research2.png">
      </figure>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4 col-xv-padding">
      <figure class="figure">
        <img class="center-block img-responsive" src="Outreach1.png">
      </figure>
      <figure class="figure">
        <img class="center-block img-responsive" src="Outreach2.png">
      </figure>
    </div>
    <div class="col-md-8 col-xv-padding">
      <h2 class="ptitle">Outreach</h2>
      <h4 class="subtitle">STEM Mentoriship, Consulting, and Facilitation</h4>
      <p class="section-text">
        I'm passionate about promoting science and education, in encouraging the curiousity and leadership in others. Please get in touch with me for collaboration and consultation.
      </p>
      <ul>
        <li> Teaching university level physical chemistry (guest lecturer and TA)</li>
        <li>Creating interactive workshops for high school-level STEM</li>
        <li>10 years experience in workshop facilitation</li>
        <li>15 years experience in tutoring (high school, cegep, and university math, physics, and chemistry)</li>
        <li>Science fair project consulting</li>
        <li>Massey tutoring and mentorship program</li>
        <li>Youths Board of Directorys</li>
        <li>Pueblo Science</li>
        <li>Science policy; supporting basic research (Massey, Chem dept)</li>
      </ul>
    </div>
  </div>

  <div class="row">
    <form class="col-md-6 col-md-offset-3">
      <h2 class="ptitle">Contact</h2>
      <h4 class="subtitle">Let's get in touch!</h4>
      <p class="section-text">
        Feel free to send me a message. Some more engaging text here above the contact form.
      </p>
      <div class="form-group">
        <label for="name">Name:</label>
        <input type="text" class="form-control" id="name" placeholder="Enter name">
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" class="form-control" id="email" placeholder="Enter email">
      </div>
      <div class="form-group">
        <label for="email">Subject:</label>
        <input type="text" class="form-control" id="subject" placeholder="Enter subject">
      </div>
      <div class="form-group">
        <label for="comment">Message:</label>
        <textarea class="form-control" rows="5" id="comment"></textarea>
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>

    {% include footer.html %}

  </body>

</html>
